h1{
    color: blue;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
#left{
    text-align: left;
}
ol {
    font-size: 50px;
}
.del{
    color: red;
}
.priority{
    color: green;
    font-style: italic;

}


  